@import "../../assets/sass/buttons";
@import "../../assets/sass/colors";
@import "../../assets/sass/root";

.favourite{
    .top{
        background-color:$light;
        padding-top: 40px;
        height: fit-content;
        position: relative;

    
        h2{
       
            font-weight: 600;
            padding-bottom: 40px;
        }
        .nav-pills{
            
            margin:0 auto  !important;
            display: flex !important;
            justify-content: center;
      
            .nav-item{
             
            .nav-link{
             font-size: 150%;
             font-weight: 600;
             width: 100% !important;
             color: black;
             padding-bottom: 8px !important;
             border-bottom: 4px solid transparent ;
             transition: 0.3s !important;
         }
        }
    }
    .nav-link.active, .nav-pills .show>.nav-link {
        color: black !important;
        border-bottom: 4px solid $green !important;
        background-color: transparent !important;
       color:$green !important; 
    }




}








.down{
    background-color: $lightgreen;
    padding: 30px;
    height: 230px;
    width: 100%;
    position: relative !important;
    -webkit-box-shadow: inset 0px 11px 10px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: inset 0px 11px 10px 0px rgba(0,0,0,0.35);
    box-shadow: inset 0px 5px 10px 0px rgba(0, 0, 0, 0.137);


    .imgs{
        width:300px;
    }
    .tab-pane{
       width: 100%;
        position: absolute !important;
        top:20px !important;
        left: 0px !important;
  
        h3{
            font-size: 24px !important;
            font-weight: 600;
            margin-bottom: 16px;
            
        }
  div{
    width: fit-content;
  }

        p{
            width: 300px;
        }
    }
}



@media screen and (max-width: 863px) {
    .down{

       margin: 0 auto !important;
        height: 350px;
       

        .imgs{
           min-width:250px!important;
          
        }
        .tab-pane{

           
            display:block !important;
            margin:0 auto !important;
            // width: fit-content;
            text-align: center !important;
            div{
                margin: 0 auto;
            }
            p{
                width: 80% !important;
                margin: 0 auto;
    
            }
        }   
    }
    

    
    
}
}