@import "../../assets/sass/buttons";
@import "../../assets/sass/colors";
@import "../../assets/sass/root";

.terms{
    background-color: $offwhite;

  
    h6{
        font-size: 14px;
        font-weight: 600;
        letter-spacing: .1em!important;
        text-transform: uppercase!important;
    }


}



