@import "./colors" ;


*{
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
}
a{
  color:$green;
  text-decoration: none;
    &:hover{
        color:$green;
        text-decoration: none;
    }
}
li{
    list-style: none;
}
.text-upper {
    // letter-spacing: .1em!important;
    text-transform: uppercase!important;
}

.loader-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: white;
    z-index: 1;
    .change-my-color{
    width: 70px;
    opacity: 0.7;
   

}

    .spinner {
        width: 64px;
        height: 64px;
        border: 8px solid;
        border-color: $green transparent  $green transparent;
        border-radius: 50%;
        animation: spin-anim 3s linear infinite;
      }
      
      @keyframes spin-anim {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
      }
  }
  
  .rewards , .login{


    animation: fade 1s ;
  }

  @keyframes fade {
    0% {
        opacity: 0%;
    }
    100% {
       opacity: 100%;
    }
  }
  